
.card{
    /* background-color: purple; */
    /* background: linear-gradient(to right, #FFA07A, #800080); */
    background: linear-gradient(to bottom right, #FFA07A, #800080);
    /* color: rgb(239, 223, 217); */
    color: snow;
    font-weight: 600;
}
img{
    width: 225px;
    height: 250px;
    border-radius: 5px;
    object-fit: cover;
}